<form action ='/hairsalon/stylists' method='post'>
  <div class ='form-group'>
    <input id='name' name='name' type='text'>
    <label for='name'>Enter in the name of the Stylist:</label>
    <button type='submit'>Add Stylist</button>
  </div>
</form>
